.compass-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.compass-text {
    position: absolute;
    bottom: -20px;
    font-weight: bold;
}