@using TestBlazor.Components.Symbols
@using TestBlazor.Components.Symbols.Generics

<SymbolWrapper Symbol="Symbol" 
               HasCrossFilter="HasCrossFilter"
               Width="Width" Height="Height" Rotation="Rotation" MirrorX="MirrorX" MirrorY="MirrorY"
               OverlayContent="OverlayContent" OnClick="OnClick" OnSettingsClick="OnSettingsClick">
    <div class="input-symbol-container">
        <label>@Label</label>
        <input type="number" class="form-control" value="@CurrentValue" @oninput="OnValueChanged" @onclick:stopPropagation />
        <span class="unit">@CurrentUnit</span>
    </div>
</SymbolWrapper>


