.input-symbol-container {
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.input-symbol-container label {
    font-size: 0.8em;
    margin-bottom: 2px;
    font-weight: bold;
}

.input-symbol-container input {
    width: 100%;
    text-align: center;
    padding: 2px;
}

.unit {
    font-size: 0.8em;
    color: #6c757d;
}