@using TestBlazor.Components.Symbols
@using TestBlazor.Components.Symbols.Generics

<SymbolWrapper Symbol="Symbol" 
               HasCrossFilter="HasCrossFilter"
               Width="Width" Height="Height" Rotation="Rotation" MirrorX="MirrorX" MirrorY="MirrorY"
               OverlayContent="OverlayContent" OnClick="OnClick" OnSettingsClick="OnSettingsClick">
    <div class="progress-container">
        <div class="progress-bar" style="height: @CurrentValue%; background-color: @Color;"></div>
        <div class="progress-value">@CurrentValue%</div>
    </div>
</SymbolWrapper>


