/* Ensure generic wrappers fill the selection container */
.rotated-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.symbol-wrapper-root {
    position: relative;
    display: inline-block;
}

.static-indicator-left {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 10;
    background: white;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid red;
    line-height: 0;
}